<!DOCTYPE html>
<html>

<head>
  <link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css"
  rel="stylesheet"
/>
</head>

<body  class="bg-gray-800 text-white">
  <div class="max-w-lg mx-auto mt-8 px-4">
    <label for="link" class="block mb-2">Enter the link</label>
    <div class="flex">
      <input
        type="text"
        name="link"
        id="link"
        class="w-full bg-gray-900 text-white border border-gray-700 rounded-l py-2 px-4 focus:outline-none focus:border-blue-500"
      />
      <button
        onclick="startScraping()"
        class="bg-blue-500 hover:bg-blue-600 text-white rounded-r py-2 px-4"
      >
        do it Kakarot!
      </button>
    </div>
    <div id="status" class="bg-gray-900 text-red rounded-lg overflow-hidden shadow-lg"></div>
    <div id="result"></div>
    <div id="cards" class="max-w-lg mx-auto mt-8 grid grid-cols-1 gap-4"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
  <script>
    // connect to the SocketIO server
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    let status = document.getElementById('status');
    // listen for the "status" event from the server
    socket.on('status', function (data) {
      console.log(data);
      if(data.completed){
        status.textContent = `${data.name} completed...`;
      } else {
        status.textContent=`${data.name} exception...`;
      }
    });
    const cardsContainer = document.getElementById("cards");
      cardsContainer.innerHTML = "";
    // send a request to the server to start the scraping process
    function startScraping() {
  var link = document.getElementById("link").value;
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
      status.innerHTML="";
      console.log(xhr.responseText);
      // Parse the response as JSON
      var data = JSON.parse(xhr.responseText);
      // Update the UI with the response
      var resultElement = document.getElementById('result');
      resultElement.innerHTML = '';
      data.forEach((item) => {
            let percentage = item.percentage;

            // Create a card div
            const card = document.createElement("div");
            card.className =
              "bg-gray-900 text-white rounded-lg overflow-hidden shadow-lg";

            // Create a card header
            const cardHeader = document.createElement("div");
            cardHeader.className = "px-6 py-4";
            const cardTitle = document.createElement("h2");
            cardTitle.className = "text-2xl font-bold mb-2";
            cardTitle.textContent = item.name;
            cardHeader.appendChild(cardTitle);
            const cardSubTitle = document.createElement("p");
            cardSubTitle.className = "text-sm";
            cardSubTitle.textContent = `Reg. No: ${item.regno} | Percentage: ${percentage}%`;
            cardHeader.appendChild(cardSubTitle);
            card.appendChild(cardHeader);

            // Create a card body
            const cardBody = document.createElement("div");
            cardBody.className = "px-6 py-4";
            Object.keys(item.marks).forEach((key) => {
              const subjectRow = document.createElement("div");
              subjectRow.className = "flex justify-between mb-2";
              const subjectName = document.createElement("div");
              subjectName.className = "text-lg font-bold";
              subjectName.textContent = key;
              subjectRow.appendChild(subjectName);
              const subjectMarks = document.createElement("div");
              subjectMarks.className = "text-lg";
              subjectMarks.textContent = `${item.marks[key]}/50`;
              subjectRow.appendChild(subjectMarks);
              cardBody.appendChild(subjectRow);
            });
            card.appendChild(cardBody);

            // Append card div to cards container
            cardsContainer.appendChild(card);
          })
    }
  };
  xhr.open('GET', '/cs?link=' + encodeURIComponent(link));
  xhr.send();
}

  </script>
</body>

</html>